kestra/flows-federated/run_federated_ecommerce_batch.yaml
id: run_federated_ecommerce_batch
namespace: playground.ecommerce.controller
description: Coordinate the ecommerce workload across separate OSS Kestra deployments.

labels:
  environment: playground
  topology: federated-oss
  controller: gke
  worker_gce: gce-container
  worker_gke: k8s

inputs:
  - id: business_date
    type: DATE
    required: true
    defaults: "2026-06-25"
    description: Date to process in each child Kestra deployment.

tasks:
  - id: start_gce_generate
    type: io.kestra.plugin.core.http.Request
    uri: "{{ envs.federated_gce_worker_url }}/api/v1/main/executions/playground.ecommerce/generate_ecommerce_mock_data"
    method: POST
    contentType: multipart/form-data
    options:
      basicAuthUser: "{{ envs.federated_gce_worker_username }}"
      basicAuthPassword: "{{ envs.federated_gce_worker_password }}"
    formData:
      business_date: "{{ inputs.business_date }}"

  - id: wait_gce_generate
    type: io.kestra.plugin.core.flow.LoopUntil
    condition: "{{ outputs.poll_gce_generate.body | jq('(.state.current == \"SUCCESS\" or .state.current == \"FAILED\" or .state.current == \"KILLED\" or .state.current == \"WARNING\")') | first }}"
    failOnMaxReached: true
    checkFrequency:
      interval: PT10S
      maxDuration: PT15M
    tasks:
      - id: poll_gce_generate
        type: io.kestra.plugin.core.http.Request
        uri: "{{ envs.federated_gce_worker_url }}/api/v1/main/executions/{{ json(outputs.start_gce_generate.body).id }}"
        method: GET
        options:
          basicAuthUser: "{{ envs.federated_gce_worker_username }}"
          basicAuthPassword: "{{ envs.federated_gce_worker_password }}"

  - id: assert_gce_generate
    type: io.kestra.plugin.core.execution.Assert
    errorMessage: "GCE generate_ecommerce_mock_data did not finish with SUCCESS"
    conditions:
      - "{{ outputs.poll_gce_generate.body | jq('.state.current == \"SUCCESS\"') | first }}"

  - id: start_gce_segments
    type: io.kestra.plugin.core.http.Request
    uri: "{{ envs.federated_gce_worker_url }}/api/v1/main/executions/playground.ecommerce/build_ecommerce_customer_segments"
    method: POST
    contentType: multipart/form-data
    options:
      basicAuthUser: "{{ envs.federated_gce_worker_username }}"
      basicAuthPassword: "{{ envs.federated_gce_worker_password }}"
    formData:
      business_date: "{{ inputs.business_date }}"

  - id: wait_gce_segments
    type: io.kestra.plugin.core.flow.LoopUntil
    condition: "{{ outputs.poll_gce_segments.body | jq('(.state.current == \"SUCCESS\" or .state.current == \"FAILED\" or .state.current == \"KILLED\" or .state.current == \"WARNING\")') | first }}"
    failOnMaxReached: true
    checkFrequency:
      interval: PT10S
      maxDuration: PT15M
    tasks:
      - id: poll_gce_segments
        type: io.kestra.plugin.core.http.Request
        uri: "{{ envs.federated_gce_worker_url }}/api/v1/main/executions/{{ json(outputs.start_gce_segments.body).id }}"
        method: GET
        options:
          basicAuthUser: "{{ envs.federated_gce_worker_username }}"
          basicAuthPassword: "{{ envs.federated_gce_worker_password }}"

  - id: assert_gce_segments
    type: io.kestra.plugin.core.execution.Assert
    errorMessage: "GCE build_ecommerce_customer_segments did not finish with SUCCESS"
    conditions:
      - "{{ outputs.poll_gce_segments.body | jq('.state.current == \"SUCCESS\"') | first }}"

  - id: start_gke_generate
    type: io.kestra.plugin.core.http.Request
    uri: "{{ envs.federated_gke_worker_url }}/api/v1/main/executions/playground.ecommerce/generate_ecommerce_mock_data"
    method: POST
    contentType: multipart/form-data
    options:
      basicAuthUser: "{{ envs.federated_gke_worker_username }}"
      basicAuthPassword: "{{ envs.federated_gke_worker_password }}"
    formData:
      business_date: "{{ inputs.business_date }}"

  - id: wait_gke_generate
    type: io.kestra.plugin.core.flow.LoopUntil
    condition: "{{ outputs.poll_gke_generate.body | jq('(.state.current == \"SUCCESS\" or .state.current == \"FAILED\" or .state.current == \"KILLED\" or .state.current == \"WARNING\")') | first }}"
    failOnMaxReached: true
    checkFrequency:
      interval: PT10S
      maxDuration: PT15M
    tasks:
      - id: poll_gke_generate
        type: io.kestra.plugin.core.http.Request
        uri: "{{ envs.federated_gke_worker_url }}/api/v1/main/executions/{{ json(outputs.start_gke_generate.body).id }}"
        method: GET
        options:
          basicAuthUser: "{{ envs.federated_gke_worker_username }}"
          basicAuthPassword: "{{ envs.federated_gke_worker_password }}"

  - id: assert_gke_generate
    type: io.kestra.plugin.core.execution.Assert
    errorMessage: "GKE generate_ecommerce_mock_data did not finish with SUCCESS"
    conditions:
      - "{{ outputs.poll_gke_generate.body | jq('.state.current == \"SUCCESS\"') | first }}"

  - id: start_gke_daily_report
    type: io.kestra.plugin.core.http.Request
    uri: "{{ envs.federated_gke_worker_url }}/api/v1/main/executions/playground.ecommerce/build_ecommerce_daily_report"
    method: POST
    contentType: multipart/form-data
    options:
      basicAuthUser: "{{ envs.federated_gke_worker_username }}"
      basicAuthPassword: "{{ envs.federated_gke_worker_password }}"
    formData:
      business_date: "{{ inputs.business_date }}"

  - id: wait_gke_daily_report
    type: io.kestra.plugin.core.flow.LoopUntil
    condition: "{{ outputs.poll_gke_daily_report.body | jq('(.state.current == \"SUCCESS\" or .state.current == \"FAILED\" or .state.current == \"KILLED\" or .state.current == \"WARNING\")') | first }}"
    failOnMaxReached: true
    checkFrequency:
      interval: PT10S
      maxDuration: PT15M
    tasks:
      - id: poll_gke_daily_report
        type: io.kestra.plugin.core.http.Request
        uri: "{{ envs.federated_gke_worker_url }}/api/v1/main/executions/{{ json(outputs.start_gke_daily_report.body).id }}"
        method: GET
        options:
          basicAuthUser: "{{ envs.federated_gke_worker_username }}"
          basicAuthPassword: "{{ envs.federated_gke_worker_password }}"

  - id: assert_gke_daily_report
    type: io.kestra.plugin.core.execution.Assert
    errorMessage: "GKE build_ecommerce_daily_report did not finish with SUCCESS"
    conditions:
      - "{{ outputs.poll_gke_daily_report.body | jq('.state.current == \"SUCCESS\"') | first }}"

  - id: federated_summary
    type: io.kestra.plugin.core.debug.Return
    format: |
      {
        "gce": {
          "target": "{{ envs.federated_gce_worker_url }}",
          "generate_execution_id": "{{ json(outputs.start_gce_generate.body).id }}",
          "segments_execution_id": "{{ json(outputs.start_gce_segments.body).id }}"
        },
        "gke": {
          "target": "{{ envs.federated_gke_worker_url }}",
          "generate_execution_id": "{{ json(outputs.start_gke_generate.body).id }}",
          "daily_report_execution_id": "{{ json(outputs.start_gke_daily_report.body).id }}"
        }
      }
